doctype html
html
  head
    title Frontend Builder

    // Divi 2.7.1 Stylesheets
    link(rel="stylesheet"
         href="http://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/style.css?ver=2.7.1")
    link(rel="stylesheet"
         href="http://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=2.7.1")
    link(rel="stylesheet"
         href="http://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes_responsive.css?ver=2.7.1")
    link(rel="stylesheet"
         href="http://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/includes/builder/styles/magnific_popup.css?ver=2.7.1")

    link(rel="stylesheet"
         href="bundle.css")
  body
    #et-fb
    script(src="bundle.js")